.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputContainer{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.state_city{
  display: flex;
  flex-direction:row;
  gap: 20px;
  width: 500px;
}
.country select{
  width: 300px;
  height: 35px;
}

.state select{
  width: 150px;
  height:35px;
}

.city select{
  width:150px;
  height:35px;
}